{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;

    }

    .bg-container {
      position: relative;
      height: 100vh;

      overflow: hidden;
    }


    .bg-image {

      background-image: url('{% static "landscopehome/images/background3.png" %}');
      height: 100%;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;

    }
  </style>
</head>

<body>

  <div class="bg-container">
    <div class="bg-image"></div>

  </div>







</body>

</html>